/**
 * 01. Core Style
 */
html, body, .container {
	height: 100%;
}

.container {
	position: relative;
}

/**
 * 02. Chat Style
 */
#connect {
	margin-bottom: 20px;
}

#chat {
	z-index: 100; /* In front of canvas */
	height: calc(100% - 144px);
	border: 1px solid #333;
	border-radius: 5px;
	margin-bottom: 20px;
	padding: 10px;
	overflow-y: hidden;
	background-color: transparent;
	position: relative;
}

#chat:hover {
	overflow-y: scroll;
}

p {
	margin-bottom: 5px;
}

#username-group, #message-group {
	max-width: 200px;
}

@media (max-width: 767px) {
	#username-group, #message-group {
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
	}
}

/**
 * 03. Canvas Style
 */
#canvas {
	z-index: -100; /* Behind chat */
	display: block;
	position: absolute;
	margin: 0 auto 0 auto;
	height: calc(100% - 144px);
	width: calc(100% - 30px);
	box-sizing: content-box;
}