html, body, .container {
	height: 100%;
}
#connect {
	margin-bottom: 20px;
}
#chat {
	height: calc(100% - 144px);
	border: 1px solid #333;
	border-radius: 5px;
	margin-bottom: 20px;
	padding: 10px;
	overflow-y: hidden;
	background-color: transparent;
}
#chat:hover {
	overflow-y: scroll;
}

p {
	margin-bottom: 5px;
}

#canvas {
	background-color: green;
	position: absolute;
	margin: 0 auto 0 auto;
	height: calc(100% - 144px);
	z-index: -100"
}